[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
jedi = "*"
pylint-flask-sqlalchemy = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-admin = "*"
flask-babelex = "*"
flask-security-too = "*"
flask-socketio = "*"
bcrypt = "*"
gevent = "*"
gevent-websocket = "*"
brython = "*"
flask-wtf = "*"

[requires]
python_version = "3.8"
